/*
Global
*/
img{
	height: 80%;
	width: 80%;
	min-height: 161px;
	min-width: 108px;
}

.movies{
	padding-top: 3%;
}

/*
Changes the box of info to the left for movies
*/
.pic-info{
	min-height: 100%;
}

.content-header p{
	margin-bottom: 30px;
}